<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Spacely</title>
    <meta name="description" content="Spacely is a friendly meeting space manager.">
    <meta name="author" content="dgrebb.com">
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
    <div class="container">
        {% block content %}{% endblock %}
        </div>
        <script src="https://code.jquery.com/jquery-2.2.2.min.js" integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI=" crossorigin="anonymous"></script>
        <script src="javascripts/bootstrap.min.js"></script>
</body>
</html>